<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>핫식스</title>
</head>
<body>
    <div class="content">
        <header class="header-container">
            <h1 class="brand-logo">핫식스</h1>
            <div class="menu-container">
                <h3 class="menu">메뉴</h3>
                <h3 class="path">오시는길</h3>
            </div>
        </header>
        <main class="main-course">
            <h1 class="course-title"> 평일 점심 코스</h1>
            <div class="brunch_course">

                <div class="menu01">
                    <!-- <div class="img-container">
                        <img src="/static/image/kakaofriends.png" class="menu-img">
                        <button class="menu-button1" id="menu-button1">메뉴보기</button>
                        <div class="content-flex-test detail" style="display:none;">
                            <h2 class="detail-title"> Lunch Special Course A </h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>계절 샐러드</li>
                                    <li>그릴에 구운 소고기 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div>      -->
                </div>
    
                <!-- <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/kakaofriends.png" class="menu-img">
                        <button class="menu-button2" id="menu-button2">메뉴보기</button>
                        <div class="content-flex detail1" style="display:none;">
                            <h2 class="detail-title"> Lunch Special Course B</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>계절 샐러드</li>
                                    <li>그릴에 구운 소고기 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div>                     
                </div>
            </div> -->
            <div class="button-container" > 
                <div class="button-group">
                    <button class="reserve"><a href="">예약하기</a></button>
                    <button class="reserve"><a href="">예약조회</a></button>
                </div>    
            </div>
        </main>
    </div>
<!-- 2 페이지 -->
    <div class="content">
        <header class="header-container">
            <h1 class="brand-logo">핫식스</h1>
            <div class="menu-container">
                <h3 class="menu">메뉴</h3>
                <h3 class="path">오시는길</h3>
            </div>
        </header>
        <main class="main-course">
            <h1 class="course-title"> 평일 저녁 코스</h1>
            <div class="brunch_course">
                <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/dinner.png" class="menu-img">
                        <button class="menu-button3">메뉴보기</button>
                        <div class="content-flex detail3" style="display:none;">
                            <h2 class="detail-title"> Dinner Special Course A</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>계절 샐러드</li>
                                    <li>그릴에 구운 소고기 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div>     
                </div>
    
                <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/dinner.png" class="menu-img">
                        <button class="menu-button4">메뉴보기</button>
                        <div class="content-flex detail4" style="display:none;">
                            <h2 class="detail-title"> Dinner Special Course B</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>리코타 치즈 샐러드</li>
                                    <li>그릴에 구운 소고기 등심 스테이크</li>
                                    <li>치즈케익과 커피</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div>                     
                </div>
            </div>
            <div class="button-container" > 
                <div class="button-group">
                    <button type="submit" class="reserve">예약하기</button>
                    <button class="reserve">예약조회</button>
                </div>    
            </div>
        </main>
    </div>

    <div class="content">
        <header class="header-container">
            <h1 class="brand-logo">핫식스</h1>
            <div class="menu-container">
                <h3 class="menu">메뉴</h3>
                <h3 class="path">오시는길</h3>
            </div>
        </header>
        <main class="main-course">
            <h1 class="course-title"> 주말 점심 코스</h1>
            <div class="dinner_course">
                <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/2017042000056_0.jpg" class="menu-img">
                        <button class="menu-button5">메뉴보기</button>
                        <div class="content-flex detail5" style="display:none;">
                            <h2 class="detail-title"> Lunch Special Course A</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>콘 샐러드</li>
                                    <li>랍스타와 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div> 
                </div>
                <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/2017042000056_0.jpg" class="menu-img">
                        <button class="menu-button6">메뉴보기</button>
                        <div class="content-flex detail6" style="display:none;">
                            <h2 class="detail-title"> Lunch Special Course B</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>계절 샐러드</li>
                                    <li>그릴에 구운 소고기 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div>   
                </div>
            </div>
        </main>
        <div class="button-container" > 
            <div class="button-group">
                <button type="submit" class="reserve">예약하기</button>
                <button class="reserve">예약조회</button>
            </div>    
        </div>
    </div>  
    <div class="content">
        <header class="header-container">
            <h1 class="brand-logo">핫식스</h1>
            <div class="menu-container">
                <h3 class="menu">메뉴</h3>
                <h3 class="path">오시는길</h3>
            </div>
        </header>
        <main class="main-course">
            <h1 class="course-title"> 주말 저녁 코스</h1>
            <div class="dinner_course">
                <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/2017042000056_0.jpg" class="menu-img">
                        <button class="menu-button7">메뉴보기</button>
                        <div class="content-flex detail7" style="display:none;">
                            <h2 class="detail-title"> Dinner Special Course A</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>계절 샐러드</li>
                                    <li>그릴에 구운 소고기 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div> 
                </div>
                <div class="menu01">
                    <div class="img-container">
                        <img src="/static/image/2017042000056_0.jpg" class="menu-img">
                        <button class="menu-button8">메뉴보기</button>
                        <div class="content-flex detail8" style="display:none;">
                            <h2 class="detail-title"> Dinner Special Course B</h2>
                                <ul class="umenu">
                                    <li>셰프 추천 스프</li>
                                    <li>계절 샐러드</li>
                                    <li>그릴에 구운 소고기 안심 스테이크</li>
                                    <li>계절과일과 견과류를 곁들인 티라미슈 케익</li>
                                    <br>        
                                    <li>가격 : 90,000</li>
                                </ul>
                        </div>
                    </div>   
                </div>
            </div>
        </main>
        <div class="button-container" > 
            <div class="button-group">
                <button class="reserve resv">예약하기</a></button>
                <button class="reserve-check">예약조회</button>
            </div>    
        </div>
    </div>  
    <script src="/static/js/mainpage/scoll.js"></script>
    <script src="/static/js/mainpage/mainpage.js"></script>
    <script src="/static/js/mainpage/show_hidden.js"></script>
</body>
</html>