<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/reserve_Check/check_page.css">
    <!-- 폰트, 아이콘 -->
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pacifico&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>hotsix</title>
</head>
<body>
    <div id="container">
        <header class="header-container">
            <nav>
                <div class="login-button">
                    <button>Login</button>
                </div>
                <h5>Hotsix</h5>
                <div class="home-button"><i class="fa-solid fa-house fa-3x"></i></div>
            </nav>
        </header>
        
        <div class="main-container">
            <div class="main-background">
                <div class="title-container">
                    <div><h1 class="page-title">예약 확인</h1></div>
                    <div class="welcome-container">
                        <div class="title-line"></div>
                        <p>hotsix에 오신 것을 환영합니다.</p>
                        <div class="title-line"></div>
                    </div>
                </div>
                
                <div class="select">
                    <ul>
                        <li id="tap-menu" class="reserve-change current" data-tab="tab-1">
                            예약 확인(TEL) <i class="fa-regular fa-square-check"></i>
                        </li>
                        <li class="reserve-change" data-tab="tab-2">
                            예약 확인(이름) <i class="fa-regular fa-square-check"></i>
                        </li>
                    </ul>
                </div>
                <div class="tab-container">
                    <div id="tab-1" class="serve-container current">
                        <div class="input-container">
                            <div class="p-group">
                                <p class="number-telephone">예약번호</p>
                                <p class="number-telephone">전화번호</p>
                            </div>
                            <div class="input-group">
                                <input id="reserve-number1" type="text" class="input-contents" placeholder="예약번호" autocomplete="off" autofocus required>
                                <input id="telephone-name1" type="text" class="input-contents" placeholder="000-0000-0000" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="main-button">
                            <button type="submit" class="reserve-button1">예약확인</button>
                        </div>
                    </div>
                        
                    <div id="tab-2" class="serve-container"> 
                        <div class="input-container">
                            <div class="p-group">
                                <p class="number-telephone">예약번호</p>
                                <p class="number-telephone">이름</p>
                            </div>
                            <div class="input-group">
                                <input id="reserve-number2" type="text" class="input-contents" placeholder="예약번호" autocomplete="off" autofocus required>
                                <input id="telephone-name2" type="text" class="input-contents" placeholder="예약자이름" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="main-button">
                            <button type="submit" class="reserve-button2">예약확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/reserve_Check/check_page.js"></script>
</html>
