.header-container {
    width: 100%;
    height: 120px;

    color: white;
    background-color: #183a1d;

    font-size: 100px;
    font-family: 'Pacifico', cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 120px;
}

.login-button {
    display: flex;
}

.login-button button{
    padding: 20px;

    color: #ffffff;
    background-color: transparent;

    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
}

nav h5 {
    font-size: 50px;
}

.home-button {
    width: 70px;

    font-size: 14px;

    cursor: pointer;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #E1EEDD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #183a1d8c;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 770px;

    background-image: url('/static/images/reserved w3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-background {
    margin: 0 auto;

    width: 835px;
    height: 600px;

    background-color: rgba(255, 255, 255, 0.5);
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 10px 10px;
    height: 110px;
}

.page-title {
    margin: 20px;

    font-size: 40px;
}

.welcome-container {
    width: 400px;
    
}

.title-line{
    margin: 0px;
    
    width: 100%;
    height: 3px;
    
    background-color: #183a1d;
}

.title-container p {
    padding: 2px;
    
    text-align: center;
    font-weight: 700;
}

.select {
    margin: 0 auto;
    
    width: 700px;
    background-color: rgba(31, 83, 37, 0.6);
}

.select ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select ul li {
    padding: 12px 10px 10px;
    
    text-align: center;
    font-size: 18px;
    font-weight: 700;

    cursor: pointer;
}

.reserve-change {
    display: inline-block;
    
    margin: 0;
    width: 420px;
    height: 42px;

}

#tap-menu {
    border-right: 1px solid #ccc;
}

.reserve-change:hover {
    color: white;
    background-color: #434242;
}

.tab-container {
    display: flex;
    justify-content: center;

    margin-top: 5px;
}

.serve-container{
    display: none;
    justify-content: center;

    width: 700px;
    height: 300px;
    
    border: 1px solid #333;
    border-radius: 5px;

}

.serve-container.current{
	display: inherit;
}

.input-container {
    display: flex;
    justify-content: space-between;

    margin: 40px;
}

.p-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100px;
    font-weight: bold;
}

.number-telephone {
    margin: 10px;
    height: 20px;
}

.reserve-number1, .reserve-number2 {
    font-size: 20px;
}

.number-telephone1, .number-telephone2 {
    margin: 15px;

    font-size: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;


    cursor: pointer;
}

.input-contents {
    margin: 10px;
    padding: 5px;
    height: 25px;

    border: 1px solid #dbdbdb;

    cursor: pointer;
}


.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-button1, .reserve-button2 {
    margin: 0px;
    padding: 0px;

    width: 150px;
    height: 90px;

    border-radius: 3px;
    color: white;
    background-color: #434242;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.reserve-button1:hover, .reserve-button2:hover {
    background-color: #183a1d;
}

.search-number {
    margin: 40px 5px 0px 40px;
    padding: 10px;

    font-size: 15px;
    color: #a39e9e;
}