.brand-logo{
    /* border: 1px solid wheat; */
    justify-content: center;
    align-items: center; 

    margin-left: 43%;

    color: white;
    font-size: 50px;
}

.menu-container { /* 상단 메뉴바 */
    /* border: 1px solid wheat; */

    margin-left: 760px;

    display: flex;
    justify-content: flex-end;
}

.menu, .path{
    
    padding: 10px;

    font-size: 15px;
    color: white;
}

.menu{
    border-right: 2px solid white;
}
