.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1cm;
  padding: 40px 20px;

  width: 100%;
  height: 100px;

  background-color: #202020;
}

.container{
  padding-bottom: 70px;
  padding: 70px;
}

.customer-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  color: aliceblue;
}

.button-init {
  width: 100px;
  height: 70px;

  border: none;
}

.sp-minus,
.sp-plus {
  background-color: blanchedalmond;
}

.count,
.customer {
  padding: 30px;
  margin: 10px;
}

.cal-toolbar{
  display: flex;
  align-items: center;
}