table, tr, td
{
  border-collapse: collapse;
  text-align:start ;
  vertical-align :text-top;
  margin: 2%;  
}

body, div,
ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, input, textarea, p, blockquote, table, tr, th, td, img{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500px;
}

body {
  font-weight: 500;
  font-size: 17px;
  color: #333;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

button, input, select, textarea, label {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

ol, ul {
  list-style: none;
}

caption, hr, legend {
  display: none;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  height: 0;
}

caption, th {
  vertical-align: middle;  
}