.resv_menu{
  padding-top: 100px;
  align-items: center;

  display: flex;
  justify-content: center;
}

.hours-wrap {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 30px 0 30px;
  margin-bottom: 40px;
  display: table;
  width: 100%;
}

.hours-wrap .box {
  display: table-cell;
  font-size: 16px;
}

.hours-wrap .box select {
  width: calc(100% - 205px);
  margin-left: 30px;
}

.hours-wrap select {
  font-size: 16px;
  color: #333;
}

select {
  vertical-align: middle;
  width: 200px;
  padding: 0 34px 0 10px;
  height: 40px;
  font-size: 14px;
  color: #666;
  border: 1px solid #c4c4c4;
  position: relative;
}