<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.png" />

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="/static/css/main_Update_Page/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/main_Update_Page/owlcarousel/owl.theme.default.min.css">
    
    <link rel="stylesheet" href="/static/css/main_Update_Page/header.css">
    <link rel="stylesheet" href="/static/css/main_Update_Page/mainpage.css">
    <link rel="stylesheet" href="/static/css/main_Update_Page/common.css">
    <title>핫식스</title>

    <script src="/static/js/main_Update_Page/owlcarousel/jquery.min.js"></script>
    <script src="/static/js/main_Update_Page/owlcarousel/owl.carousel.js"></script>

</head>
<body>
    <div class="content">
        <header class="header-container">
            <h1 class="brand-logo">핫식스</h1>
        </header>
        <main class="main-course">
            <h1 class="course-title"> 레스토랑 식사 메뉴</h1>
            <div class="brunch_course">                
                
                <div class="menu owl-carousel" id="owl-carousel" >
                    <!-- innerhtml -->
                </div>    

                <div class="button-container" > 
                    <div class="button-group">
                        <button class="reserve"><a href="/resv">예약하기</a></button>
                        <button class="reserve"><a href="/check/page">예약조회</a></button>
                    </div>    
                </div>
        </main>
    </div>
    <!-- img_id 로드해서 1,2,3,4,5,6,7 번 번호 붙이기, 번호를 무한 슬라이드, 하단에 슬라이드 *가 있는것 보다는 좌우 화살표
        width 길이 필요 -->
 
    
    <script src="/static/js/main_Update_Page/mainpage.js"></script>
    <!-- <script src="../../static/js/main_Update_Page/owlcarousel/owl.carousel.js"></script> -->
    <script src="../../static/js/main_Update_Page/owlcarousel/owl.carousel.min.js"></script>
    <!-- <script src="../../static/js/main_Update_Page/owlcarousel/owl.autoplay.js"></script> -->

    <script src="/static/js/main_Update_Page/scoll.js"></script>
    <!-- <script src="/static/js/mainpage/show_hidden.js"></script> -->
</body>
</html>